# Python Basics

## Numbers and arithmetic

In [1]:
a = 2 # int 
b = 6.0 # float
c = 12 + 0j # complex 

print(f"a + b = {a + b}") # addition
print(f"b - a = {b - a }") # substraction
print(f"a * b = {a * b}") # multiplication
print(f"b / a = {b / a}") # division
print(f"b ** a = {b ** a}") # exponentiation 
print(f"5 // 2 = {5 // 2}") # get quotient 
print(f"5 % 2 = {5 % 2}") # get remainder

a + b = 8.0
b - a = 4.0
a * b = 12.0
b / a = 3.0
b ** a = 36.0
5 // 2 = 2
5 % 2 = 1

## String 
String variables are either single- or double quoted. `a = "hello"` or `a = 'hello'`

In [2]:
a = "hello"
b = "world"

# string can be added 
a + b # = "helloworld"

# print variable 
print(a + " " + b) # > hello world

hello world

## Arrays
```{list-table} Python array data type and property
:header-rows: 1

* - property
  - Set 
  - List
  - Tuple
  - Dictionary
* - indexable
  - No
  - Yes
  - Yes
  - Yes (use key)
* - addable/removable
  - Yes
  - Yes
  - No
  - Yes
* - repeatable
  - No
  - Yes
  - Yes
  - Yes for value, No for key
* - sortable
  - No
  - Yes
  - No
  - Yes

```

### Set 
Set is a group of unique elements. No duplicates; non-ordered; non-indexable

In [3]:
# create empty set 
example_set = set()

# create a set with elements
odd = {3, 1, 7, 4} 
even = {4, 2, 6}

print(f"A set of odd numbers: {odd}")
print(f"A set of even numbers: {even}")
print("Note that the order of elements differs from creation.")

A set of odd numbers: {1, 3, 4, 7}
A set of even numbers: {2, 4, 6}
Note that the order of elements differs from creation.

Remove an element

In [4]:
odd.remove(4)
odd

{1, 3, 7}

Use `remove` to remove an element not eixst will give traceback. One can use `discard` to remove an element to skip traceback if the element does not exist

In [5]:
odd.discard(10)

Add an element

In [6]:
even.add(8)
even

{2, 4, 6, 8}

Union between sets

In [7]:
num_set = odd.union(even)
num_set

{1, 2, 3, 4, 6, 7, 8}

Find intersection between sets

In [8]:
set1 = {0, 1, 'apple', 'orange'}
set2 = {True, 'orange', 'lemon'}
set3 = set1.intersection(set2)
set3

{True, 'orange'}

Clear elements in a set

In [9]:
set3.clear()
set3

set()

### List

In [10]:
odd = [3, 1 , 7, 4]
even = [4, 2, 6]

print(f"A list of odd numbers: {odd}")
print(f"A list of even numbers: {even}")

A list of odd numbers: [3, 1, 7, 4]
A list of even numbers: [4, 2, 6]

Access element in a list using index

In [11]:
a = odd[0]
b = even[-1]
c = odd[:2]
print(f"The first element of odd list: {a}")
print(f"The last elment of even list: {b}")
print(f"The first two elements of odd list: {c}")

The first element of odd list: 3
The last elment of even list: 6
The first two elements of odd list: [3, 1]

Add elements to list: use index, append, insert, extend, or +

In [12]:
# use index
odd[-1] = 9

# use append
even.append(8)

# use insert (element, index)
odd.insert(5, 2)

# use extend 
even.extend([10, 12])

print(f"odd: {odd}")
print(f"even: {even}")

odd: [3, 1, 7, 9, 2]
even: [4, 2, 6, 8, 10, 12]

List addition

In [13]:
odd + even

[3, 1, 7, 9, 2, 4, 2, 6, 8, 10, 12]

Remove elements in a list: pop, remove, clear

In [14]:
# remove the last element 
even.pop()
print(even)

# remove element via index
even.pop(0) # first element
print(even)

# remove 10 
even.remove(10)
print(even)

# remove all elements
example_list = [1,2,3]
example_list.clear()
print(example_list)

[4, 2, 6, 8, 10]
[2, 6, 8, 10]
[2, 6, 8]
[]

Other list operations: count, index, copy, reverse, sort

In [15]:
# count how many element 2 in even
cnt = even.count(2)
print(f"Number of 2 in even: {cnt}")

# get the index of element 2 
idx = even.index(2)
print(f"Index of 2 in even: {idx}")

# create a copy of odd
odd_copy = odd.copy()
print(odd_copy)

# reverse the element order in odd_copy
odd_copy.reverse()
print(odd_copy)

# sort element in odd_copy
odd_copy.sort()
print(odd_copy)

Number of 2 in even: 1
Index of 2 in even: 0
[3, 1, 7, 9, 2]
[2, 9, 7, 1, 3]
[1, 2, 3, 7, 9]

### Tuple
Elements can not be addred or removed from the tuple.

In [16]:
# create a tuple 
even = (2, 4, 2)

# access element using index 
a = even[0] 
print(f"first element: {a}")

# get index of a value 
idx = even.index(2) # return the index of value 2; return the first index if duplicates 
print(f"index of 2: {idx}")

# count the numebr of a value 
cnt = even.count(2)
print(f"number of 2: {cnt}")

first element: 2
index of 2: 0
number of 2: 2

### Dictionary
Dictionary comprises a list of key:value pairs. Keys are unique in the dictionary.

In [17]:
# fromkeys, get, items, keys, pop, popitem, update, values 
# create a dictionary
example = {"A": 0, "B": 1, "C": 2} 
example2 = dict(A = 0, B = 1, C =3)
print(example)

# add key:value
example["D"] = 4
print(example)

# remove key:value 
example.pop("A")
print(example)
#remove the last key-item pair
example.popitem() 
print(example)

# modify key:value
example["C"] = 3
example.update({"C": 3})
print(example)

{'A': 0, 'B': 1, 'C': 2}
{'A': 0, 'B': 1, 'C': 2, 'D': 4}
{'B': 1, 'C': 2, 'D': 4}
{'B': 1, 'C': 2}
{'B': 1, 'C': 3}

Access value by key

In [18]:
B = example["B"]
print(f"Value of key 'B': {B}")

# return None if key 'b' not found
u = example.get("b", None)
print(f"Value of key 'b': {u}")

Value of key 'B': 1
Value of key 'b': None

Loop through dictionary

In [19]:
print("Get keys")
for key in example.keys():
  print(key)

print("Get key:value pairs")
for key, val in example.items():
  print(f"{key}:{val}")

Get keys
B
C
Get key:value pairs
B:1
C:3

## Function
Write a function to check if a number is odd or even

In [20]:
def check_number(n):
  """Function to check a number"""
  if type(n) != int:
    raise TypeError("Argument should be an integer")
  
  if n == 0:
    return "zero"
  elif n % 2 == 0:
    return "even and greater than zero"
  else:
    return "odd"

a33 = check_number(33)
a22 = check_number(22)
a0 = check_number(0)

print(f"33 is {a33}")
print(f"22 is {a22}")
print(f"0 is {a0}")

33 is odd
22 is even and greater than zero
0 is zero

Test for error
```{code-block} python
a = check_number('a')
```
```{code-block} python
TypeError: Argument should be an integer
```

## Class and object
Object Oriented Programming (OOP): Create objects(or instances) and methods using Python classes.

In [21]:
class User:
    """User class docstring"""
    def __init__(self, name, birthday) -> None:
        self.full_name = name 
        self.birthday = birthday 
        
        # extract first and last name
        user_name = self.full_name.split(" ")
        self.first_name = user_name[0]
        self.last_name = user_name[1]

    def age(self):
        """Return user age"""
        age_year = self.birthday[0:4]
        self.age = 2023 - int(age_year)
        return self.age

user1 = User("Joe Smith", "19800101")

print(user1.first_name)
print(user1.last_name)
print(user1.age())

Joe
Smith
43

**Name convention**: In the above example, `user1` is an **object** or **instance**. The `first_name` or `last_name` of object `user1` is **field**.

In [22]:
# check docstring text 
help(User)

Help on class User in module __main__:

class User(builtins.object)
 |  User(name, birthday) -> None
 |
 |  User class docstring
 |
 |  Methods defined here:
 |
 |  __init__(self, name, birthday) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  age(self)
 |      Return user age
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

**Class special methods**
- `__doc__` : call docstring 
- `__init__`: initialize a class with variables
- `__dict__`: call class attributes and values 
- `__str__`: define `str()` function for the class

In [23]:
class Citizen:
  """This is description for class Citizen"""
  
  def __init__(self, fn, ln):
    """Initialize Citizen class with first and last name"""
    self.first_name = fn
    self.last_name = ln
  
  def __str__(self):
    return f"{self.first_name.capitalize()} {self.last_name.capitalize()}"
  

c1 = Citizen("joe", "smith")
c2 = Citizen("mary", "Ann")
# assign a post-defined attribute
c1.brithday = "1990-2-25"

# check doc string
print(c1.__doc__)

# call attribute and value
print(c1.__dict__)
print(c2.__dict__)

# str method
print(str(c2))

This is description for class Citizen
{'first_name': 'joe', 'last_name': 'smith', 'brithday': '1990-2-25'}
{'first_name': 'mary', 'last_name': 'Ann'}
Mary Ann

## Exceptions
Use `try`, `except`, `else` and `finally` to manage errors of program workflow. Using try and except blocks can help program continue to run while catching what errors might occur in the try block.
```{code-block} python
try:
    # run first
    pass

except NameError:
    # run if NameError occurs in try block
    pass

except Exception as e:
    # (optional) run if error other than NameError occurs in try block 
    # print the error message
    print(e)

else:
    # run here when try block works
    # run here when *none* of except blocks are executed 
    pass 

finally:
    # run here *always*
    pass
```

One can also use `raise` to raise an error in the code.
```{code-block} python 
x = 10
if x > 5:
  raise Exception("x should not exceed 5")
```
```{code-block} python
Exception: x should not exceed 5
```
More on Exception Handling

<iframe width="560" height="315" src="https://www.youtube.com/embed/NMTEjQ8-AJM?si=6wuBNp1ZEME_x92U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

## List comprehension
Use for loop in a list to create a new list

In [24]:
# squared numbers from 0 to 10
lc1 = [i**2 for i in range(0,11)]
print(lc1)

# squared numbers of even numbers from 0 to 10 
lc2 = [i**2 for i in range(0,11) if i % 2 == 0]
print(lc2)

# cartesian product 
A = [1,3,5]
B = [2,4,6]
lc3 = [(a, b) for a in A for b in B]
print(lc3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64, 100]
[(1, 2), (1, 4), (1, 6), (3, 2), (3, 4), (3, 6), (5, 2), (5, 4), (5, 6)]

## Lambda expression
Write an anonymous function in a single line of code. Multiple variables are allowed.

In [25]:
f = lambda x: (x + 1) * 2
print(f(2))

# process a name
full_name = lambda fn, ln: fn.strip().title() + " " + ln.strip().title()
print(full_name(" Joe", "SMITH "))
# 'Joe Smith'

6
Joe Smith

## Iterator
Python iterables inlcude list, tuple, string and byte objects.
```{code-block} python
# loop through a list  
for element in ["A","L","E","X"]: 
  print(element)

# loop through a tuple 
for element in ("a","l","e","x"):
  print(element)

# loop through a string 
for character in "ALEX":
  print(character)

# loop through a b
for byte in b'ALEX':
  print(byte)
```

Build an iterator using `iter` and `next` functions. **It can help loop over things that have unknown lengths**.

In [26]:
fruits = ("apple","orange", "lemon")

# turn an array to iterator
looper = iter(fruits)

print(next(looper))
print(next(looper))
print(next(looper))

apple
orange
lemon

When the looper is exhausted, running `next()` will result in traceback
```{code-block} python
next(looper)
```
```{code-block} python
StopIteration    Traceback (most recent call last)
```

Create a class with built-in iteration

In [27]:
class Portfolio:
  def __init__(self):
    self.holdings = {} # key:ticker, value:shares

  def buy(self, ticker, shares):
    self.holdings[ticker] = self.holdings.get(ticker, 0) + shares 

  def sell(self, ticker, shares):
    self.holdings[ticker] = self.holdings.get(ticker, 0) - shares

  def __iter__(self):
    return iter(self.holdings.items())

p = Portfolio()
p.buy("APPL", 10)
p.buy("TSLA", 20)
p.sell("APPL", 5)
p.buy("TSLA", 5)

for ticker, share in p:
    print(ticker, "-", str(share))

APPL

 - 5
TSLA - 25

More on using `itertool` module

<iframe width="560" height="315" src="https://www.youtube.com/embed/baZpqVmR488?si=3e5NiFasxiR4mz0i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

## Generator
Generator is one type of iterators. A function uses `yield` instead of `return` is called generator. It can help save time and memory when running a loop through a large iterable.

In [28]:
import random

# Return a list of 100 random integer (0-99)
def number_list():
    num_list = []
    for i in range(100):
        num = random.randint(0,100)
        num_list.append(num)
    return num_list 

# Generate a sequence of 100 random intger (0-99)
def number_generator():
    for i in range(100):
        num = random.randint(0, 100)
    yield num

In [29]:
next(number_generator())

34

In [30]:
next(number_generator())

70

## Map, filter and reduce
Functional programming: Apply a function to iterable data (e.g., list, tupe) in one line of code, instead of writing loops.

### Map
- `map(func, *iterables)`

Apply a function to one iterable or multiple iterables when the passing function using multiple arguments. The passing function will return the result of each element in the iterable.

In [31]:
# example of one iterable
names = ["alice", "ben","charlie"]
map_object = map(lambda x: x.capitalize(), names)
print(map_object)
print(list(map_object))

<map object at 0x0000021B6EDF3A00>
['Alice', 'Ben', 'Charlie']

In [32]:
floats = [1.235, 2.336, 3.4562]
decimals = [1, 2, 3]
map_object = map(round, floats, decimals)
print(list(map_object))

[1.2, 2.34, 3.456]

### Filter
- `filter(func, iterable)`

Apply a function that returns boolean values (True or False) to the iterable (one iterable only). Then it returns only the elements that is evaluated to True.

In [33]:
nums = [35, 48 , 50, 66, 87, 95]

def greater_than_50(x):
  if x > 50:
    return True

filter_object = filter(greater_than_50, nums)
print(next(filter_object))
print(next(filter_object))
print(next(filter_object))
print(list(filter_object))

66
87
95
[]

### Reduce
- `reduce(func, iterable [, initial])`

Apply a function with 2 arguments that takes first and next element in the iterable in a cumulative way. If the third argument (i.e., initial) is supplied, then it will become the first element. In Python 3, the `reduce` needs to be imported from `functools` library

In [34]:
from functools import reduce 

nums = [1, 2, 3, 4]

def custom_sum(x, y):
  return x + y

# without initial supplied
res1 = reduce(custom_sum, nums)
print(res1)

# with initial supplied
res2 = reduce(custom_sum, nums, 10)
print(res2)

10
20

 
## Sorting

- `mylist.sort()`: Sort elements in a list and replace the original list.
- `nlist = sorted(mylist)`: Sort elements in a list or other iterables and return a list.
- Both `list.sort()` and `sorted()` have a `key` argument to indicate the way of sorting. E.g., Specify which element in arrays of arrays is used for sorting. See example below.

Sort a string list

In [35]:
# sort a list 
mylist = ['b', 'a', 'A', 'C', 'c']
mylist.sort()
print(mylist)

# sort with reversed order
mylist.sort(reverse=True)
print(mylist)

['A', 'C', 'a', 'b', 'c']
['c', 'b', 'a', 'C', 'A']

Sort a list of tuples by the 2nd element in the tuple

In [36]:
tuple_list = [("B", 20) ,("A", 30), ("C", 10)]
tuple_list.sort()
print(tuple_list)

# sort by 2nd element (number) in the tuples
num = lambda tup: tup[1]
tuple_list.sort(key=num)
print(tuple_list)

[('A', 30), ('B', 20), ('C', 10)]
[('C', 10), ('B', 20), ('A', 30)]

Sort elements in a tuple.

In [37]:
mytuple = (5,3,8,1)
sorted_mytuple = sorted(mytuple)
print(sorted_mytuple)

[1, 3, 5, 8]

**Note**: `mytuple.sort()` does not work because tuple object is immutable.